@import '../../assets/styles/variables';

.contact {
  box-shadow : 0 .2rem .3rem -.1rem rgba(0, 0, 0, 0.4) !important;
  top        : 0;
  position   : absolute;
  z-index    : 1000;
}

.m-pointer {
  cursor : pointer;
}

.menu {
  background-color : rgb(222, 222, 222);
  overflow         : hidden;
  max-height       : 80vh;
  transition       : all .8s ease-in;

  &.hideMenu {
    max-height : 0;
    transition : all .8s cubic-bezier(0, 1, 0, 1);

  }
}

.menuToggle {
  transform  : rotate(0);
  transition : transform .5s ease-out;

  &.toggled {
    transform  : rotate(180deg);
    transition : transform .5s ease-out;
  }
}

.topic-title {
  font-weight : 800;
}

.logo {
  height : 2.6rem;
}

.has-feedback {
  position : relative;
}

.form-control-feedback {
  position   : absolute;
  top        : .8rem;
  right      : 2rem;
  z-index    : 2;
  display    : block;
  text-align : center;
  cursor     : pointer;
  transition : filter .2s ease-out;

  &:hover {
    filter : drop-shadow(0 0 2px #80bdff);
  }
}

.search-panel {
  position : relative;
}

.search {
  height        : 1.8rem;
  border-radius : 2rem;
  width         : 70%;
  transition    : width .2s ease-out;
  display       : inline-block;
  text-align    : center;
  z-index       : 1002;
  position      : absolute;
  left          : 0;
  right         : 0;
  margin        : auto;
  top           : .5rem;

  &.active {
    width         : 100%;
    outline-style : none;
    outline-color : transparent;
    border-color  : transparent;
    box-shadow    : 0 0 .5rem 0 rgba(0, 0, 0, 0.4) !important;
  }
}

.suggestions {
  min-height       : 2rem;
  background-color : white;
  z-index          : 1001;
  position         : absolute;
  left             : 0;
  right            : 0;
  margin           : auto;
  top              : 2.2rem;
  border-radius    : .5rem;
  width            : 47%;
  transition       : all .2s ease-out;
  opacity          : 0;
  text-align       : center;
  padding-top      : 1.5rem;
  padding-bottom   : 1rem;
  visibility       : hidden;
  box-shadow       : 0 .2rem .3rem -.1rem rgba(0, 0, 0, 0.4) !important;

  @media (max-width : ($bp-md - 1)) {
    width : 93%;
  }

  &.active {
    opacity    : 1;
    transition : all .6s ease-out;
    visibility : visible;
  }
}

.suggestion {
  cursor          : pointer;
  padding         : .5rem 1rem;
  margin          : auto;
  width           : 100%;
  display         : inline-block;
  border-radius   : .6rem;
  text-decoration : none;
  transition      : all .2s ease-in-out;
  text-overflow   : ellipsis;
  white-space     : nowrap;
  overflow        : hidden;

  &:hover {
    background-color : #d7d7d7;
    color            : inherit;
  }

  &.last {
    color : #007bff;
  }
}
