<div class="container-fluid contact">

  <div class="suggestions row" #suggestions>
    <div class="col-md-12">
      <small class="text-muted">Suggestions</small>
    </div>
    <div class="col-md-12" *ngFor="let suggestion of postSuggestions;let i=index;let last=last">
      <a *ngIf="!last" class="suggestion" [href]="suggestion.link">
        <strong>{{suggestion.title}}: </strong>
        {{suggestion.description}}</a>
      <a *ngIf="last" class="suggestion last" [href]="suggestion.link">
        <strong> <i class="fas fa-search"></i> {{suggestion.title}}</strong> </a>
    </div>
  </div>

  <div class="row menu hideMenu scrollbar-primary" #rowMenu>

    <div class="offset-md-3 col-md-6 py-3">
      <div class="form-group col-md-12 m-0 text-center search-panel">
        <label for="srh"></label>
        <input id="srh" type="text" class="form-control search" placeholder="Search" autocomplete="off" #search
               (focus)="searchFocus(suggestions,search,true)"
               (focusout)="searchFocus(suggestions,search,false)"
               (input)="suggest()"
               [(ngModel)]="searchedValue">
      </div>
    </div>

    <div class=" col-sm-4 p-2" *ngFor="let number of [0,1,2]">
      <p class="h5 m-0 ml-5 topic-title">FEATURES</p>
      <hr>
    </div>
  </div>

  <div class="row lead bg-light">

    <div class="col-4 p-0 px-2">
      <span class="mr-2 d-none d-md-inline">Contact:</span>
      <span>
          <a [href]="socialLinks.facebook" target="_blank"><i class="fab fa-facebook-square mr-2"></i></a>
          <a [href]="socialLinks.github" target="_blank"><i class="fab fa-github-square mr-2"></i></a>
          <a [href]="socialLinks.linkedIn" target="_blank"><i class="fab fa-linkedin mr-2"></i></a>
          <a [href]="socialLinks.gmail" target="_blank"><i class="fas fa-envelope-square"></i></a>
        </span>
    </div>

    <div class="text-center col-4 p-0 px-2 menuToggle" #toggle>
      <a disabled="disabled" class="mr-2 align-middle m-pointer" (click)="toggleMenu(rowMenu,toggle)">
        <i class="fas fa-chevron-circle-down"></i>
      </a>
    </div>

    <div class="text-right col-4 p-0 px-2">
      <a [href]="socialLinks.blogSource" class="mr-2 align-middle" target="_blank">
        <span class="mr-2 d-none d-sm-inline">Source:</span>
        <i class="fab fa-github"></i>
      </a>
    </div>

  </div>
</div>
