.uc {
  width              : 40vw;
  height             : 40vh;
  display            : inline-block;
  background         : url('../../assets/images/UC.png') no-repeat center;
  background-size    : contain;
  -webkit-transition : background-image .25s ease-in-out;
  -moz-transition    : background-image .25s ease-in-out;
  -o-transition      : background-image .25s ease-in-out;
  transition         : background-image .25s ease-in-out;
}

.uc2_loader {
  background : url('../../assets/images/UC2.png') no-repeat center;
  display    : none;
}

.uc:hover, .uc:active {
  background      : url('../../assets/images/UC2.png') no-repeat center;
  background-size : contain;
}

.content {
  height     : 100%;
  overflow-y : auto;
  overflow-x : hidden;
}

.post-thumbnail {
  height           : 200px;
  background-color : #8b8b8b;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
