.uc {
  width           : 40vw;
  height          : 40vh;
  display         : inline-block;
  background      : url('../assets/images/UC.png') no-repeat center;
  background-size : contain;
  transition      : background-image .25s ease-in-out;
}

.uc:hover, .uc:active {
  background      : url('../assets/images/UC2.png') no-repeat center;
  background-size : contain;
}
